body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  width: 56%;
}

@media screen and (max-width: 680px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }
  .productDetail {
    margin-left: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .productDetail {
    margin-left: 400px;
  }
}

.MuiTableCell-head {
  color: rgba(255, 255, 255, 0.87) !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
}

.MuiButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}
